*.suo
*~
*.user
*.aps
*.ipch
*.sdf
*.opensdf

# From https://github.com/github/gitignore/blob/main/VisualStudio.gitignore
# Visual Studio 2015/2017 cache/options directory
.vs/

# Log files
*_log.txt

# Build/output directories
obj/
bin/
build/

# Installer output
Installer/Output

# Installer pre-processor
Installer/PreprocessedpGina0.iss
